/* bike.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

/* Form styles */
form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    text-align: center;
    color: #333;
}

/* Label styles */
label {
    display: block;
    margin-bottom: 5px;
    text-align :center;
    font-weight: bold;
}

/* Input styles */
input,select
{
    width: 80%;
    padding: 8px;
    margin:4px 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    text-align: center;
      margin: 0 auto;
}



/* Buttons container */
div button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left:30px;
    align-content: center;
    transition: background-color 0.3s ease;
    background-color: #4CAF50;
}



button:hover {
    background-color: #0056b3;
}

button[type="button"] {
    background-color: #ddd;
    color: #333;
    float:left;
    

}

button[type="button"]:hover {
    background-color: #bbb;
}
button[type="back"] {
   float:right;
   margin-right:30px;
}



