/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

/* Button styles */
button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #45a049;
}

/* Anchor (link) styles */
a {
    text-decoration: none;
    color: #337ab7;
    
}


a:hover {
    color: #23527c;
}
table td:last-of-type a {
    display: inline-block;
    margin: 0 5px;
    padding: 3px 8px;
    text-decoration: none;
    border-radius: 3px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

table td:last-of-type a:hover {
    background-color: #ddd;
}
button[type="submit"] {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}